body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
  }
.about-section {
    padding: 50px;
    text-align: center;
    background-color: #ffa7a7;
    color: rgb(133, 0, 0);
  }
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  .yo
  {
    text-align: center;
    font-size: 130%;
    color: #820000;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ff8787;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=button] {
    background-color: rgb(63, 3, 3)255, 162;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
  }
  
  input[type=button]:hover {
    background-color: rgb(255, 1, 1);
  }
  
  .container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
  }
  .left-side
  {
    width: 50%;
  height: 100%;
  display: flex;
 margin-left: 32%;
  align-items: center;
  margin-top: 15px;
  position: relative;
  }

  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(77, 0, 0);
  }
  .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .left-side .details i{
    font-size: 30px;
    color: #932020;
    margin-bottom: 10px;
  }
   .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .left-side .details .text-one,
   .left-side .details .text-two{
    font-size: 14px;
    color: rgb(173, 52, 52);
  }
  
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

